Here is the list of packages without versions:

```
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
dataclasses-json
distro
feedparser
filelock
frozenlist
gitdb
GitPython
greenlet
h11
httpcore
httpx
idna
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langserve
langsmith
lxml
lxml_html_clean
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy-extensions
newspaper4k
nltk
numpy
openai
orjson
outcome
packaging
pandas
pillow
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pyproject-toml
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-file
rich
rpds-py
selenium
setuptools
sgmllib3k
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
streamlit
streamlit-option-menu
tenacity
tiktoken
tldextract
toml
toolz
tornado
tqdm
trio
trio-websocket
typing-inspect
typing_extensions
tzdata
urllib3
webdriver-manager
wheel
wsproto
yarl
```
